@using MVCPracticalExercise.Models

@model List<application>


<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Quote</h5>
        </div>
        <div class="card-body">
            @foreach (var app in Model)
            {
            <div class="row">
                <div class="col">
                    @app.FirstName
                </div>
                <div class="col">
                    @app.LastName
                </div>
                <div class="col">
                    @app.EmailAddress
                </div>
                <div class="col">
                    @app.Quote
                </div>
            </div>
            }
        </div>
    </div>
</div>

