<h1>Welcome To Inventory</h1>

<h3>Raw Maritals</h3>
<button class="btn btn-primary" type="button"  onclick="location.href='@Url.Action("Materials", "Home")'">Go To</button>
<h3>Products</h3>
<button class="btn btn-primary" type="button"  onclick="location.href='@Url.Action("Products", "Home")'">Go To</button>

