
@{
    ViewBag.Title = "Materials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Maritals</h2>

<h4>Rings</h4>
<button class="btn btn-primary" type="button" id="Go To" onclick="location.href='@Url.Action("Index", "Rings")'">Go To</button>
<h4>Scales</h4>
<button class="btn btn-primary" type="button" id="Go To" onclick="location.href='@Url.Action("Index", "Scales")'">Go To</button>

